<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Payment Confirmation</title>
</head>

<body style="background-color: #fbfef9">

    <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%"
        style="max-width: 600px; margin: 0 auto">
        <tr>
            <td bgcolor="#537fe7" align="center" height="100">
                <h3 style="
              color: #ffffff;
              letter-spacing: 3px;
              font-family: Arial, sans-serif;
              font-size: 24px;
              margin: 0;
            ">
                    Payment Confirmation
                </h3>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff" style="padding: 20px">
                <p style="
              font-family: Arial, sans-serif;
              font-size: 16px;
              color: #191923;
              margin: 0 0 20px 0;
            ">
                    Dear Owner,
                </p>
                <p style="
              font-family: Arial, sans-serif;
              font-size: 16px;
              color: #191923;
              margin: 0 0 20px 0;
            ">
                    This is a confirmation message by <strong>{{tenant_name}}</strong>,
                    who has paid rent Rs<strong>{{rent_amount}}</strong>/- for property
                    <strong>{{property_name}}</strong> on or before
                    03/{{month}}/{{year}}.
                </p>
                <p style="
              font-family: Arial, sans-serif;
              font-size: 20px;
              color: #191923;
              margin: 0 0 20px 0;
              text-align: center;
            ">
                    If Paid
                </p>
                <table cellpadding="0" cellspacing="0" border="0" align="center" style="margin: 0 auto">
                    <tr>
                        <td align="center" bgcolor="#537fe7" style="border-radius: 7px">
                            <a href="http://127.0.0.1:8000/sms/owner/token/verify/{{owner_rent_token_paid}}" style="
                    font-family: Arial, sans-serif;
                    font-size: 16px;
                    color: #ffffff;
                    text-decoration: none;
                    display: inline-block;
                    padding: 10px 20px;
                  ">Yes</a>
                        </td>
                        <td width="20"></td>
                        <td align="center" bgcolor="#537fe7" style="border-radius: 7px">
                            <a href="http://127.0.0.1:8000/sms/owner/verify/notpaid/rent/{{owner_rent_token_paid}}"
                                style="
                    font-family: Arial, sans-serif;
                    font-size: 16px;
                    color: #ffffff;
                    text-decoration: none;
                    display: inline-block;
                    padding: 10px 20px;
                  ">No</a>
                        </td>
                    </tr>
                </table>
                <p style="
              font-family: Arial, sans-serif;
              font-size: 16px;
              color: #191923;
              margin: 20px 0 0 0;
            ">
                    If you cannot press the button. Please Use
                    <a href="http://127.0.0.1:8000/sms/owner/token/verify/{{owner_rent_token_paid}}"
                        style="color: #537fe7; text-decoration: underline">Yes</a>
                    or
                    <a href="http://127.0.0.1:8000/sms/owner/verify/notpaid/rent/{{owner_rent_token_paid}}"
                        style="color: #537fe7; text-decoration: underline">No</a>
                </p>
                <p style="
              font-family: Arial, sans-serif;
              font-size: 16px;
              color: #191923;
              margin: 20px 0 0 0;
            ">
                    Thank you and have a good day.
                </p>
                <p style="
              font-family: Arial, sans-serif;
              font-size: 16px;
              color: #191923;
              margin: 20px 0 0 0;
            ">
                    {{tenant_name}}
                </p>
                <p style="
              font-family: Arial, sans-serif;
              font-size: 16px;
              color: #191923;
              margin: 0 0 20px 0;
            ">
                    {{phone_number}}
                </p>
            </td>
        </tr>
    </table>
</body>

</html>